.imglogo {
    max-width: 100%;
    margin-right: 0.2cm;
 }
 .navbar-brand {
    max-width: 15%;
    margin-right: 4cm;
    
}
.border-bottom {
    border-bottom: 3px solid #1b1d1b  !important;
}
#menuNavbar{
    width: 100%;
}
.imgSlider {
    max-width: 60%;
}
.sheetSlider {
    background-color: #ffffff;
    text-align: center;
}
.sh__meta span, .sh__meta h4 {
   
    color:rgb(white);
    -webkit-text-stroke: 0.5px rgb(0,0,0,1);
    text-shadow: 3px 3px 3px rgba(0,0,0,.5);
    background-color: rgba(33, 97, 140,.7);
    

}

@media (min-width: 768px){
    .imglogo {
        max-width: 30%;
    }
}
.sh__item{
    margin-top: 2cm;

}