.imglogo {
    max-width: 100%;
    margin-right: 0.2cm;
 }
 .navbar-brand {
    max-width: 15%;
    margin-right: 4cm;
}
.border-bottom {
    border-bottom: 3px solid #2eec21  !important;
}
#menuNavbar{
    width: 100%;
}
.imgSlider {
    max-width: 60%;
}
.sheetSlider {
    background-color: #ffffff;
    text-align: center;
}
.sh__meta span, .sh__meta h4 {
    color: rgb(109, 242, 226);
    -webkit-text-stroke: 0.8px rgb(26, 125, 79);
    text-shadow: 2px 2px 2px rgb(86, 75, 242)
}
@media (min-width: 768px){
    .imglogo {
        max-width: 30%;
    }
}
.sh__item{
    margin-top: 2cm;

}