<style>
    /*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');*/

    #fondo {
        background-image: url("https://cdn.pixabay.com/photo/2015/08/26/07/03/background-908172_960_720.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

    }

    h1 {
        margin-left: 2%;
        font-family: Segoe UI;
        color: rgb(109, 242, 226);
        -webkit-text-stroke: 0.5px rgb(26, 125, 79);
        text-shadow: 2px 2px 1px rgb(86, 75, 242)
    }

    ul,
    p {
        margin-left: 2%;
        font-family: Segoe UI;
        font-size: 40px;
        font-weight: bold;


        -webkit-text-stroke: 0.5px rgb(0, 0, 0);
        font-family: Segoe UI;
        font-size: 20px;
        /*font-weight: bold;*/
        /*text-shadow: 0px 0px 2px rgb(192, 192, 192);*/

    }

    h4 {
        margin-left: 2%;
        font-family: Segoe UI;
        font-size: 35px;
        font-weight: 500;
        -webkit-transition: color .5s;
        transition: color .5s;
        color: #96f291;
        -webkit-text-stroke: 0.8px rgb(26, 125, 79);
        text-shadow: 2px 2px 2px rgb(54, 46, 164)
    }

    @import url(https://fonts.googleapis.com/css?family=Noto+Sans);


    body {
        height: 100%;
        font-family: 'Noto Sans', sans-serif;
        background-color: #ab4493;
    }


    .contact_form {
        width: 460px;
        height: auto;
        margin: 80px auto;
        border-radius: 10px;
        padding-top: 30px;
        padding-bottom: 20px;
        background-color: #fbfbfb;
        padding-left: 30px;
    }


    input {
        background-color: #fbfbfb;
        width: 408px;
        height: 40px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #009688;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
    }


    textarea {

        background-color: #fbfbfb;
        width: 405px;
        height: 150px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #009688;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
        padding-top: 15px;
    }


    label {
        display: block;
        float: center;
    }


    button {
        height: 45px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        margin-top: 10px;
        text-transform: uppercase;

        background-color: #009688;
        border-color: #009688;
        border-style: solid;
        border-radius: 10px;
        width: 420px;
        cursor: pointer;
    }


    button p {
        color: #fff;
    }


    span {
        color: #ab4493;
    }


    .aviso {
        font-size: 13px;
        color: #0e0e0e;
    }


    h1 {
        margin-left: 2%;
        font-size: 39px;
        text-align: letf;
        padding-bottom: 20px;
        color: rgb(109, 242, 226);
        /*color: #ab4493;*/
    }


    h3 {
        margin-left: 2%;
        font-size: 16px;
        padding-bottom: 30px;
        color: #0e0e0e;
    }


    p {
        margin-left: 2%;
        font-size: 20px;
        color: #0e0e0e;
    }


    ::-webkit-input-placeholder {
        color: #a8a8a8;
    }


    ::-webkit-textarea-placeholder {
        color: #a8a8a8;
    }


    .formulario input:focus {
        outline: 0;
        border: 1px solid #97d848;
    }


    .formulario textarea:focus {
        outline: 0;
        border: 1px solid #97d848;
    }

    /*p{
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;
}*/
</style>

<body id="fondo">
    <h1>Acerca de Mini Encuestas</h1>

    



        <h4>Desarrolo de Mini Encuestas</h4>
        <p><strong>Esta aplicacion fue desarrollada por Alumnos de la materia Mini Computadoras, de la carrera de
                Analistas de sistemas de 3er año de la Escuela Normal 10</strong></p>
        <br><br>
        <ul>
            
            <h4>Contacto</h4>


            
            </div>
            <hr>
            <div class="contact_form">

                <div class="formulario">
                    <h1>Contactanos</h1>
                    <h3>Escríbinos y en breve nos pondremos en contacto vos</h3>


                    <form action="submeter-formulario.php" method="post">


                        <p>
                            <label for="nombre" class="colocar_nombre">Nombre
                                <span class="obligatorio">*</span>
                            </label>
                            <input type="text" name="introducir_nombre" id="nombre" required="obligatorio"
                                placeholder="Escribe tu nombre">
                        </p>

                        <p>
                            <label for="email" class="colocar_email">Email
                                <span class="obligatorio">*</span>
                            </label>
                            <input type="email" name="introducir_email" id="email" required="obligatorio"
                                placeholder="Escribe tu Email">
                        </p>

                        <p>
                            <label for="telefone" class="colocar_telefono">Teléfono
                            </label>
                            <input type="tel" name="introducir_telefono" id="telefono"
                                placeholder="Escribe tu teléfono">
                        </p>

                        <p>
                            <label for="website" class="colocar_website">Institucion
                            </label>
                            <input type="url" name="introducir_website" id="website"
                                placeholder="Escribe el nombre de tu Institucion">
                        </p>

                        <p>
                            <label for="asunto" class="colocar_asunto">Asunto
                                <span class="obligatorio">*</span>
                            </label>
                            <input type="text" name="introducir_asunto" id="assunto" required="obligatorio"
                                placeholder="Escribe un asunto">
                        </p>

                        <p>
                            <label for="mensaje" class="colocar_mensaje">Mensaje
                                <span class="obligatorio">*</span>
                            </label>
                            <textarea name="introducir_mensaje" class="texto_mensaje" id="mensaje"
                                required="obligatorio" placeholder="Deja aca tu comentario..."></textarea>
                        </p>

                        <button type="submit" name="enviar_formulario" id="enviar">
                            <p>Enviar</p>
                        </button>

                        <p class="aviso">
                            <span class="obligatorio"> * </span>los campos son obligatorios.
                        </p>

                    </form>
                </div>
            </div>


</body>