<body id="fondo">
    <!--Guemes-->
    <h1>
        <center>Educación Física</center>
    </h1>

    
    <br><br>
    
    <!--Cruce de los Andes-->
    <h4>
       <center>Fútbol</center>
       <br>
       <center><img src="/images/image/player.jpg" id="peliculas"></center>
    </h4>

    
        
        <br>
        <div class="container" id="fondo">
            <div class="row">
                <div>

                    <div class="card" style="width: 21rem;">
                        <div class="card-header">
                            <h6 id="title">¿Cuál Jugador preferís?</h6>
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="row">
                                    <ul>
                                        <li>KYLIAN MBAPPÉ </li>
                                        <li> LIONEL MESSI</li>
                                        <li>CRISTIANO RONALDO </li>
                                        <li>KARIM BENZEMA</li>
                                        <li>KEVIN DE BRUYNE</li>
                                        


                                    </ul>
                                    <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                                </div>
                                <a class="btn btn-info" href="/details?id=29">Responder</a>
                            </div>
                            <h3>Código de Pregunta: 29174</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <hr>
        <h4>
       <center>Deporte Preferido</center>
       <br>
       <center><img src="/images/image/deport.jpg" id="peliculas"></center>
    </h4>

    
        
        <br>
        <div class="container" id="fondo">
            <div class="row">
                <div>

                    <div class="card" style="width: 21rem;">
                        <div class="card-header">
                            <h6 id="title">¿Cuál es Tu deporte Preferido?</h6>
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="row">
                                    <ul>
                                        <li>Fútbol</li>
                                        <li>Basquet</li>
                                        <li>Rugby</li>
                                        <li>Voleibol</li>
                                        <li>hockey</li>
                                        <li>Tenis</li>
                                        <li>Padel</li>
                                        <li>Boxeo</li>
                                        <li>Prefiero otro</li>
                                        


                                    </ul>
                                    <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                                </div>
                                <a class="btn btn-info" href="/details?id=30">Responder</a>
                            </div>
                            <h3>Código de Pregunta: 30174</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        


</body>
<style>
    /*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');*/

    #fondo {
        background-image: url("https://cdn.pixabay.com/photo/2015/08/26/07/03/background-908172_960_720.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

    }


    h1 {
        /*font-family: Segoe UI;*/
        color: rgb(109, 242, 226);
        -webkit-text-stroke: 0.5px rgb(26, 125, 79);
        text-shadow: 2px 2px 1px rgb(86, 75, 242)
    }


    h4,
    h6 {
        /*font-family: Segoe UI;*/
        font-size: 30px;
        font-weight: 500;
        -webkit-transition: color .5s;
        transition: color .5s;
        color: #96f291;
        -webkit-text-stroke: 0.8px rgb(26, 125, 79);
        text-shadow: 2px 2px 2px rgb(54, 46, 164)
    }

    #peliculas {
        width: 700px;
        height: 400px;
        margin: 4%;

    }






    /*p{
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;
}*/
</style>