<body id="fondo">
    <!--Guemes-->
    <h1>
        <center>Musica: Escucha el audio y Responde</center>
    </h1>

    <center><audio src="/images/image/flauta.mp3" controls="">

    </center>
    <div class="container" id="fondo">
        <div class="row">
            <div>

                <div class="card" style="width: 21rem;">
                    <div class="card-header">
                        <h4 id="title">Que Tipo de Instrumento Musical es?</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <ul>
                                    <li>Percusión</li>
                                    <li>Cuerdas</li>
                                    <li>Ideofonos</li>
                                    <li>Sintetizador</li>
                                    <li>Viento</li>


                                </ul>
                                <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                            </div>
                            <a class="btn btn-info" href="/details?id=17">Responder</a>
                        </div>
                        <h3>Codigo de Pregunta: 174630</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <hr>
    <!--Cruce de los Andes-->
    <h1>
        <center>Genero de Musical</center>
    </h1>

    <center><center><audio src="/images/image/trap.mp3" controls=""></audio></center>
            <br><br><br>
    <div class="container" id="fondo">
        <div class="row">
            <div>

                <div class="card" style="width: 21rem;">
                    <div class="card-header">
                        <h6 id="title">¿Qué Genero Musical es?</h6>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <ul>
                                    <li>Urbana</li>
                                    <li>Trap</li>
                                    <li>Reggeton</li>
                                    <li>k-pop</li>
                                    <li>Electro</li>
                                    <li>Reggae</li>
                                   

                                </ul>
                                <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                            </div>
                            <a class="btn btn-info" href="/details?id=18">Responder</a>
                        </div>
                        <h3>Código de Pregunta: 184630</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <hr>
    <!--elNacimientoDeVenus-->
    <h1>
        <center>Tango</center>
    </h1>

    <center><img src="/images/image/tango.jpg" id="peliculas">


    </center>
    <div class="container" id="fondo">
        <div class="row">
            <div>

                <div class="card" style="width: 21rem;">
                    <div class="card-header">
                        <h4 id="title">¿Cuál origen influenció en el Tango?</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <ul>
                                    <li>Afroamericano</li>
                                    <li>Portuges</li>
                                    <li>Centroamerica</li>
                                    <li>Español</li>
                                    <li>Indigena</li>
                                    <li>Turco</li>


                                </ul>
                                <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                            </div>
                            <a class="btn btn-info" href="/details?id=20">Responder</a>
                        </div>
                        <h3>Código de Pregunta: 204630</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
<style>
    /*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');*/

    #fondo {
        background-image: url("https://cdn.pixabay.com/photo/2015/08/26/07/03/background-908172_960_720.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

    }


    h1 {
        /*font-family: Segoe UI;*/
        color: rgb(109, 242, 226);
        -webkit-text-stroke: 0.5px rgb(26, 125, 79);
        text-shadow: 2px 2px 1px rgb(86, 75, 242)
    }


    h4,h6 {
        /*font-family: Segoe UI;*/
        font-size: 30px;
        font-weight: 500;
        -webkit-transition: color .5s;
        transition: color .5s;
        color: #96f291;
        -webkit-text-stroke: 0.8px rgb(26, 125, 79);
        text-shadow: 2px 2px 2px rgb(54, 46, 164)
    }

    #peliculas {
        width: 500px;
        height: 300px;
        margin: 4%;

    }






    /*p{
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;
}*/
</style>