<body id="fondo">
</body>
<style>
	/*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap'); */
    #fondo{
        background-image: url("https://cdn.pixabay.com/photo/2015/08/26/07/03/background-908172_960_720.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

    }
    h1 {
    	font-family: Segoe UI;
    	color: rgb(109, 242, 226);
   		-webkit-text-stroke: 0.5px rgb(26, 125, 79);
   		text-shadow: 2px 2px 1px rgb(86, 75, 242)
}
ul,p{
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;

	
	-webkit-text-stroke: 0.5px rgb(0, 0, 0);
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 2px rgb(192, 192, 192);
	
}
h4{
	font-family: Segoe UI;
	font-size: 35px;
	font-weight:500;
	-webkit-transition:color .5s;
	transition:color .5s;color:#96f291;
	-webkit-text-stroke: 0.8px rgb(26, 125, 79);
	text-shadow: 2px 2px 2px rgb(54, 46, 164)
}
/*p{
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;
}*/
</style>
<div>
	<h1><center>Como Utilizar Mini Encuestas</center></h1>
	
		<h1>Guia paso a paso de esta aplicacion web</h1>



<h4>Para Poder Realizar una Encuesta debes Registrarte en nuestra aplicacion</h4>
<center><img src="images/image/registro.png"></center>
<ul>
<li>En La barra de navegacion Principal haz click en la opcion de Registrarme o en el Boton de Crear una Encuesta.</li><br>
<li>Ingresa las Datos Requeridos</li><br>
<li>Nombre, Apellido, Usuario, Email, y por ultimo una contraseña</li><br>
<li>Haz click en Registrarme y Listo!</li>
 </ul>

 <h4>Inicio de Sesion</h4>
<center><img src="images/image/InicioSesion.png"></center>
<ul>
<li>Una Vez que estes Registrado en la aplicacion, podras Iniciar Sesion</li><br>
<li>Completa los campos con los datos de tu cuenta</li><br>
<li>Email y Password</li><br>
<li>Haz click en Inicio de Sesion</li>
 </ul>

  <h4>Crear Una Encuesta</h4>
<center><img src="images/image/CrearEncuesta.png"></center>
<ul>
<li>Despues de Iniciar Sesion en la barra de Navegacion Principal ingresa a la opcion Crear Encuesta</li><br>
<li>Donde dice 'Titulo de Encuesta' debes incresar La pregunta, Item a votar, o lo que desees consultar </li><br>
<li>En el espacio de Respuestas debes ingresar UNA POR UNA, cada posible respuesta u Opcion a Votar</li><br>
<li>Al lado del campo de cada respuesta ingresada, aparecera un Icono para poder Elimiar la respuesta en el caso que lo desees </li><br>
<li>En el Caso de que Creas necesario que los Votantes puedan Elegir mas de una o Varias respuestas, debes Tildar el campo 'Permitir Mas de una Respuesta' </li>
<li>Haz click en el Boton de Crear</li>

 </ul>
  <h4>Buscar una Encuesta</h4>
<center><img src="images/image/CodigoEncuesta.png"></center>
<ul>
<li>Una vez creada la Encuesta podras Buscar la Encuesta con el Codigo que se generara o ingresando el nombre de la encuesta</li><br>
<li>Debes Guardar el codigo que se ha generado e ingresarlo al buscador principal </li><br>
<li>Tambien podras buscar la encuesta ingresando el Nombre de la Encuesta Que buscas</li><br>
<li>Una vez ingresada la encuesta podras Acceder a ella</li><br>


 </ul>
 <h4>Ingresar a las Encuestas Creadas</h4>
<center><img src="images/image/IngresarEncuesta.png"></center>
<ul>
<li>Una vez creadas las Encuestas podras tener acceso a ellas en la Barra de Navegacion en la opcion 'Mis Encuestas'</li><br>
<li>Podras ver una por una todas Las Encuestas que creaste</li><br>
<li>Con el Boton 'Detalles' tendras acceso a los Votos registrado, como tambien a los graficos Estadisticos que eligas para seguir los resultados de las Votaciones</li><br>
<li>Tambien Podras Eliminar la votacion con el boton 'Eliminar'</li><br>


 </ul>

 <h4>Ver Encuestas en las que registre un voto</h4>

<ul>
<li>En la Barra de Navegacion en la opcion 'Mis Votos' podras tener acceso a las encuestas en donde haz hecho un voto</li><br>
<li>Podras ver en detalle cada voto y cada encuesta donde participaste</li><br>
<li>Te aparecera el nombre de la encuesta y el voto que registraste</li><br>


 </ul>


 


</div>