<style> 
    body{
        background-image: url("https://cdn.pixabay.com/photo/2015/08/26/07/03/background-908172_960_720.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
    }
    # fondo{
        background-image: url("https://cdn.pixabay.com/photo/2016/10/21/20/45/texture-1759179_960_720.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

    }
</style>


<body>
   <h1>Tenemos diferentes temas para ayudarte a empezar</h1>
</body>

{{> sliderSugerencia}}
<div class="container p-4" id="fondo">
    <form action="/" method="get">
        
    </form>
    </br>
    
</div>
