<style> 
    #fondo{
        background-image: url("https://cdn.pixabay.com/photo/2015/08/26/07/03/background-908172_960_720.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed
        }
        #imag{
            width: 800px;
             height: 500px;

        }
</style>

<div class="sheetSlider sh--default" id="fondo">
    <input id="s1" type="radio" name="slide1" checked />
    <input id="s2" type="radio" name="slide1" />
    <input id="s3" type="radio" name="slide1" />
    <input id="s4" type="radio" name="slide1" />
    <input id="s5" type="radio" name="slide1" />
    <input id="s6" type="radio" name="slide1" />
    <input id="s7" type="radio" name="slide1" />
    <input id="s8" type="radio" name="slide1" />
    <input id="s9" type="radio" name="slide1" />
    <input id="s10" type="radio" name="slide1" />
    <div class="sh__content">

        <!-- Slider Item -->
        <div class="sh__item" id="fondo"> 
            <img src="/images/image/informatica.jpg" alt="imgText" id="imag" class="imgSlider" />
            <div class="sh__meta">
                <font color="white"><h4>
                    Informática
                </h4></font>
                <span>
                    <a href="/slider9" target="_blank"><font size="6px">Ciencias de la Computación</font></a>
                </span>
            </div>
        </div>
         <!-- Slider Item -->
        <div class="sh__item" id="fondo"> 
            <img src="/images/image/ingles.jpg" alt="imgText" id="imag" class="imgSlider" />
            <div class="sh__meta">
                <font color="white"><h4>
                    Inglés
                </h4></font>
                <span>
                    <a href="/slider10" target="_blank"><font size="6px">Welcome!..</font></a>
                </span>
            </div>
        </div>
         <!-- Slider Item -->
        <div class="sh__item" id="fondo"> 
            <img src="/images/image/deportes.jpg" alt="imgText" id="imag" class="imgSlider" />
            <div class="sh__meta">
                <font color="white"><h4>
                    Educación física
                </h4></font>
                <span>
                    <a href="/slider11" target="_blank"><font size="6px">Deportes y Actividad Física</font></a>
                </span>
            </div>
        </div>
         <!-- Slider Item -->
         <div class="sh__item" id="fondo"> 
            <img src="/images/image/matematica.jpg" alt="imgText" id="imag" class="imgSlider" />
            <div class="sh__meta">
                <font color="white"><h4>
                    Matemática
                </h4></font>
                <span>
                    <a href="/slider12" target="_blank"><font size="6px">Funciones, ecuaciones, calculos</font></a>
                </span>
            </div>
        </div>
         <!-- Slider Item -->
        <div class="sh__item" id="fondo"> 
            <img src="/images/image/historia.jpg" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <font color="white"><h4>
                    Ciencias Sociales
                </h4></font>
                <span>
                    <a href="/slider5" ><font size="6px">Hechos y Personajes Históricos</font></a>
                </span>
            </div>
        </div>
        <!-- Slider Item -->
        <div class="sh__item">
            <img src="/images/image/musica.jpg" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>
                    Música
                </h4>
                <span>
                    <a target="_blank" href="/slider6"><font size="5px">Música en general, y tipos de danza </font></a>
                </span>
            </div>
        </div>
       
        
        <!-- Slider Item -->
        <div class="sh__item">
            <img src="/images/image/CienciasNaturales.jpg" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>Ciencias Naturales</h4>
                <span>
                    <a href="/slider8"><font size="5px">Biología, Naturaleza, Animales y Vegetales</font></a>
                </span>
            </div>
        </div>
          <!-- Slider Item -->
        <div class="sh__item">
            <img src="/images/image/lengua.jpg" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>Lengua</h4>
                <span>
                    <a target="_blank"
                        href="https://sites.google.com/site/institucioneseducativas1509/instituciones-y-agentes-educativos"><font size="5px">Cuáles son las diferentes instituciones</font></a>
                </span>
            </div>
        </div>
        <!-- Slider Item -->
        
        <!-- Slider Item -->
        
        
        <!-- Slider Item -->
        <!--<div class="sh__item">
            <!---<img src="/images/image/ASP-NET-Core.png" alt="imgText" class="imgSlider" />-->
            <!-- Item Info -->
            <!--<div class="sh__meta">
                <h4>Asp net Core MVC</h4>
                <span>
                    <a
                        href="https://www.udemy.com/curso-de-aplicaciones-web-modernas-en-asp-net-core-mvc/?couponCode=PDHN02">Curso
                        de aplicaciones web modernas en ASP NET Core MVC en C#</a>
                </span>
            </div>
        </div>
        <div class="sh__item">
            <!--<img src="/images/image/Kotlin.png" alt="imgText" class="imgSlider" />-->
            <!-- Item Info -->
            <!--<div class="sh__meta">
                <h4>Android Kotlin</h4>
                <span>
                    <a href="https://www.udemy.com/curso-de-android-and-firebase-con-kotlin/?couponCode=PDHN02">Curso de
                        Android and Firebase con Kotlin</a>
                </span>
            </div>
        </div>
        <div class="sh__item">
            <!--<img src="/images/image/Systema-C.png" alt="imgText" class="imgSlider" />-->
            <!-- Item Info -->
            <!--<div class="sh__meta">
                <h4>C# con MySQL y SQL</h4>
                <span>
                    <a href="https://www.udemy.com/como-crear-un-sistema-punto-de-ventas-en-c-sharp/?couponCode=PDHN04">Como
                        crear un sistema punto de ventas en C# con MySQL y SQL</a>
                </span>
            </div>
        </div>
        <!-- Slider Item -->
        <div class="sh__item">
            <!--<img src="/images/image/Dart-and-Flutter.png" alt="imgText" class="imgSlider" />-->
            <!-- Item Info -->
            <div class="sh__meta">
                <!--<h4>
                    Dart and Flutter desde cero con Firebase
                </h4>
                <span>
                    <a href="https://www.udemy.com/draft/2345066/?couponCode=PDHN01">Curso de Dart and Flutter desde
                        cero con Firebase</a>
                </span>-->
            </div>
        </div>
        <div class="sh__item">
            <!--<img src="/images/image/Android.png" alt="imgText" class="imgSlider" />-->
            <!-- Item Info -->
            <div class="sh__meta">
                <!--<h4>Android Java</h4>
                <span>

                </span>
                <span>
                    <a href="https://www.udemy.com/curso-de-android-and-firebase-con-java/?couponCode=PDHN02">Curso de
                        Android and Firebase con Java</a>
                </span>-->
            </div>
        </div>
    </div>
    <!--botones-->
    <div class="sh__btns">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
        <label for="s5"></label>
        <label for="s6"></label>
        <label for="s7"></label>
        <label for="s8"></label>
        <label for="s9"></label>
        <label for="s10"></label>
    </div>
    <!--flechas-->
    <div class="sh__arrows">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
        <label for="s5"></label>
        <label for="s6"></label>
        <label for="s7"></label>
        <label for="s8"></label>
        <label for="s9"></label>
        <label for="s10"></label>
    </div><!-- .sh__arrows -->
</div>