<<body id="fondo">
    <h1>
        <center>Escucha y Responde: Sabes Que Pelicula Es?</center>
    </h1>

    <center><audio src="/images/image/matrix.mp3" controls="">
            Pelicula

        </audio></center>
    <div class="container" id="fondo">
        <div class="row">
            <div>

                <div class="card" style="width: 21rem;">
                    <div class="card-header">
                        <h4 id="title">Que Pelicula Es?</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <ul>
                                    <li>Depredador</li>
                                    <li>Alien</li>
                                    <li>Robocop</li>
                                    <li>StarWards</li>
                                    <li>Matrix</li>
                                    <li>El Planeta de Los Simios</li>
                                    <li>X-Men</li>
                                    <li>Tron</li>
                                    <li>Terminator</li>

                                </ul>
                                <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                            </div>



                            <a class="btn btn-info" href="/details?id=7">Responder</a>
                          



                        </div>
                        <h6>Codigo de Pregunta: 761627</h6>

                    </div>


</body>
<style>
    /*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');*/

    #fondo {
        background-image: url("https://cdn.pixabay.com/photo/2015/08/26/07/03/background-908172_960_720.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

    }

    h1 {
        /*font-family: Segoe UI;*/
        color: rgb(109, 242, 226);
        -webkit-text-stroke: 0.5px rgb(26, 125, 79);
        text-shadow: 2px 2px 1px rgb(86, 75, 242)
    }

    ul,
    p {
        /*font-family: Segoe UI;*/
        font-size: 20px;
        font-weight: bold;


        -webkit-text-stroke: 0.5px rgb(0, 0, 0);
        font-family: Segoe UI;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0px 0px 2px rgb(192, 192, 192);

    }

    h4 {
        /*font-family: Segoe UI;*/
        font-size: 35px;
        font-weight: 500;
        -webkit-transition: color .5s;
        transition: color .5s;
        color: #96f291;
        -webkit-text-stroke: 0.8px rgb(26, 125, 79);
        text-shadow: 2px 2px 2px rgb(54, 46, 164)
    }



    /* CSS */
    .button-37 {
        background-color: #13aa52;
        border: 1px solid #13aa52;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
        font-size: 16px;
        font-weight: 400;
        outline: none;
        outline: 0;
        /*padding: 10px 25px;*/
        text-align: center;
        transform: translateY(0);
        transition: transform 150ms, box-shadow 150ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .button-37:hover {
        box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
        transform: translateY(-2px);
    }

    @media (min-width: 768px) {
        .button-37 {
            padding: 10px 30px;
        }
    }
    

    /*p{
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;
}*/
</style>