
<div class="sheetSlider sh--default" id="fondo">
    <input id="s1" type="radio" name="slide1" checked />
    <input id="s2" type="radio" name="slide1" />
    <input id="s3" type="radio" name="slide1" />
    <input id="s4" type="radio" name="slide1" />
    <input id="s5" type="radio" name="slide1" />
    <input id="s6" type="radio" name="slide1" />
    <input id="s7" type="radio" name="slide1" />
    <input id="s8" type="radio" name="slide1" />
    <input id="s9" type="radio" name="slide1" />
    <input id="s10" type="radio" name="slide1" />
    <div class="sh__content">
        <!-- Slider Item -->
        <div class="sh__item" id="fondo"> 
            <img src="/images/image/estudiante.png" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>
                    Esta Pagina Web Esta diseñada Para
                </h4>
                <span>
                    <a href="https://www.udemy.com/course/curso-de-java-web-mvc/?couponCode=PDHN03">Diferntes tipos de usuarios que prodria interesarse</a>
                </span>
            </div>
        </div>
        <!-- Slider Item -->
        <div class="sh__item">
            <!--<img src="/images/image/Dart-and-Flutter.png" alt="imgText" class="imgSlider" />-->
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>
                </h4>
                <span>
                    
                </span>
            </div>
        </div>
        <!-- Slider Item -->
        <div class="sh__item">
            <!--<img src="/images/image/Python.png" alt="imgText" class="imgSlider" />-->
            <!-- Item Info -->
            <div class="sh__meta">
               
                <span>
                    
                        
            </div>
        </div>
        <!-- Slider Item -->
        <div class="sh__item">
           <!-- <img src="/images/image/UWP.png" alt="imgText" class="imgSlider" />-->
            <!-- Item Info -->
            <div class="sh__meta">
               
            </div>
        </div>
        <!-- Slider Item -->
        <div class="sh__item">
            <!--<img src="/images/image/Xamarin.png" alt="imgText" class="imgSlider" />-->
            <!-- Item Info -->
            <div class="sh__meta">
                
            </div>
        </div>
        <!-- Slider Item -->
        <div class="sh__item">
            <!---<img src="/images/image/ASP-NET-Core.png" alt="imgText" class="imgSlider" />-->
            <!-- Item Info -->
            <div class="sh__meta">
               
               
            </div>
        </div>
        <div class="sh__item">
            <!--<img src="/images/image/Kotlin.png" alt="imgText" class="imgSlider" />-->
            <!-- Item Info -->
            <div class="sh__meta">
             
            </div>
        </div>
        <div class="sh__item">
            <!--<img src="/images/image/Systema-C.png" alt="imgText" class="imgSlider" />-->
            <!-- Item Info -->
            <div class="sh__meta">
                
            </div>
        </div>
        <!-- Slider Item -->
        <div class="sh__item">
            <!--<img src="/images/image/Dart-and-Flutter.png" alt="imgText" class="imgSlider" />-->
            <!-- Item Info -->
            <div class="sh__meta">
              
            </div>
        </div>
        <div class="sh__item">
            <!--<img src="/images/image/Android.png" alt="imgText" class="imgSlider" />-->
            <!-- Item Info -->
            <div class="sh__meta">
             
            </div>
        </div>
    </div>
    <!--botones-->
    <div class="sh__btns">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
        <label for="s5"></label>
        <label for="s6"></label>
        <label for="s7"></label>
        <label for="s8"></label>
        <label for="s9"></label>
        <label for="s10"></label>
    </div>
    <!--flechas-->
    <div class="sh__arrows">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
        <label for="s5"></label>
        <label for="s6"></label>
        <label for="s7"></label>
        <label for="s8"></label>
        <label for="s9"></label>
        <label for="s10"></label>
    </div><!-- .sh__arrows -->
</div>