<body id="fondo">
    <!--Guemes-->
    <h1>
        <center>Lengua</center>
    </h1>

    
    <div class="container" id="fondo">
        <div class="row">
            <div>

                <div class="card" style="width: 21rem;">
                    <div class="card-header">
                        <h4 id="title">¿Cuál es el adverbio en esta frase? "Mi padre me dijo que llegaremos tarde a casa"</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <ul>
                                    <li>Llegaremos</li>
                                    <li>Tarde</li>
                                    <li>Dijo</li>
                                    


                                </ul>
                                <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                            </div>
                            <a class="btn btn-info" href="/details?id=37">Responder</a>
                        </div>
                        <h3>Código de Pregunta: 37376</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <hr>
    <div class="container" id="fondo">
        <div class="row">
            <div>

                <div class="card" style="width: 21rem;">
                    <div class="card-header">
                        <h4 id="title">¿Qué frase es la correcta?</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <ul>
                                    <li>A ver si vienes a verme algún día.</li>
                                    <li>Haber si vienes a verme algún día.</li>
                                    <li>Ah ver si vienes a ver me algún día</li>
                                    


                                </ul>
                                <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                            </div>
                            <a class="btn btn-info" href="/details?id=36">Responder</a>
                        </div>
                        <h3>Código de Pregunta: 36376</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <hr>
    <div class="container" id="fondo">
        <div class="row">
            <div>

                <div class="card" style="width: 21rem;">
                    <div class="card-header">
                        <h4 id="title">¿En qué sílaba lleva el acento una palabra esdrújula?</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <ul>
                                    <li>En la penúltima</li>
                                    <li>En la antepenúltima</li>
                                    <li>En la primera</li>
                                    <li>En la Segunda</li>
                                    


                                </ul>
                                <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                            </div>
                            <a class="btn btn-info" href="/details?id=35">Responder</a>
                        </div>
                        <h3>Codigo de Pregunta: 35376</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <hr>
   
    



</body>
<style>
    /*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');*/

    #fondo {
        background-image: url("https://cdn.pixabay.com/photo/2015/08/26/07/03/background-908172_960_720.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

    }


    h1 {
        /*font-family: Segoe UI;*/
        color: rgb(109, 242, 226);
        -webkit-text-stroke: 0.5px rgb(26, 125, 79);
        text-shadow: 2px 2px 1px rgb(86, 75, 242)
    }


    h4,h6 {
        /*font-family: Segoe UI;*/
        font-size: 30px;
        font-weight: 500;
        -webkit-transition: color .5s;
        transition: color .5s;
        color: #96f291;
        -webkit-text-stroke: 0.8px rgb(26, 125, 79);
        text-shadow: 2px 2px 2px rgb(54, 46, 164)
    }

    #peliculas {
        width: 500px;
        height: 300px;
        margin: 4%;

    }






    /*p{
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;
}*/
</style>