<body id="fondo">
    <!--Guemes-->
    <h1>
        <center>Ciencias Naturales</center>
    </h1>

    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/0SsCI0X3nms"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe> </center>
            <br><br><br>
    <div class="container" id="fondo">
        <div class="row">
            <div>

                <div class="card" style="width: 21rem;">
                    <div class="card-header">
                        <h4 id="title">¿Cuál es el nombre la Especie?</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <ul>
                                    <li>Ballena Borealis</li>
                                    <li>Cachalote</li>
                                    <li>Ballena Azul</li>
                                    <li>Ballena Franca Austral</li>
                                    <li>Ballena Gris</li>


                                </ul>
                                <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                            </div>
                            <a class="btn btn-info" href="/details?id=24">Responder</a>
                        </div>
                        <h3>Código de Pregunta: 244630</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <hr>
    <!--Cruce de los Andes-->
    <h1>
        <center>Aves: Esuchá el Audio y Responde</center>
    </h1>

    
        <center><audio src="/images/image/sonidoPajaro.mp3" controls=""></audio></center>
        <br><br><br>
        <div class="container" id="fondo">
            <div class="row">
                <div>

                    <div class="card" style="width: 21rem;">
                        <div class="card-header">
                            <h6 id="title">¿Qué especie de Pájaro es?</h6>
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="row">
                                    <ul>
                                        <li>Jilguero</li>
                                        <li>Ruiseñor</li>
                                        <li>Gorrion</li>
                                        <li>Mirlo</li>
                                        <li>Zorzal</li>
                                        <li>Koel</li>


                                    </ul>
                                    <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                                </div>
                                <a class="btn btn-info" href="/details?id=25">Responder</a>
                            </div>
                            <h3>Código de Pregunta: 254630</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <hr>
        


</body>
<style>
    /*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');*/

    #fondo {
        background-image: url("https://cdn.pixabay.com/photo/2015/08/26/07/03/background-908172_960_720.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

    }


    h1 {
        /*font-family: Segoe UI;*/
        color: rgb(109, 242, 226);
        -webkit-text-stroke: 0.5px rgb(26, 125, 79);
        text-shadow: 2px 2px 1px rgb(86, 75, 242)
    }


    h4,
    h6 {
        /*font-family: Segoe UI;*/
        font-size: 30px;
        font-weight: 500;
        -webkit-transition: color .5s;
        transition: color .5s;
        color: #96f291;
        -webkit-text-stroke: 0.8px rgb(26, 125, 79);
        text-shadow: 2px 2px 2px rgb(54, 46, 164)
    }

    #peliculas {
        width: 500px;
        height: 300px;
        margin: 4%;

    }






    /*p{
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;
}*/
</style>