<body id="fondo">
    <!--Guemes-->
    <h1>
        <center>Inglés</center>
    </h1>

    
    <br><br>
    
    <!--Cruce de los Andes-->
    <h4>
       <center>Tiempo Verbal</center>
       <br>
       <center><img src="/images/image/inglesP.png" alt=""></center>
    </h4>

    
        
        <div class="container" id="fondo">
            <div class="row">
                <div>

                    <div class="card" style="width: 21rem;">
                        <div class="card-header">
                            <h6 id="title">¿Qué Tiempo Verbal es?</h6>
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="row">
                                    <ul>
                                        <li>Pasado Simple</li>
                                        <li>Pasado Continuo</li>
                                        <li>Presente Continuo</li>
                                        <li>Futuro Simple</li>
                                        <li>Presente Perfecto Simple</li>
                                        <li>Futuro Continuo</li>


                                    </ul>
                                    <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                                </div>
                                <a class="btn btn-info" href="/details?id=27">Responder</a>
                            </div>
                            <h3>Código de Pregunta: 27174</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <hr>
        


</body>
<style>
    /*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');*/

    #fondo {
        background-image: url("https://cdn.pixabay.com/photo/2015/08/26/07/03/background-908172_960_720.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

    }


    h1 {
        /*font-family: Segoe UI;*/
        color: rgb(109, 242, 226);
        -webkit-text-stroke: 0.5px rgb(26, 125, 79);
        text-shadow: 2px 2px 1px rgb(86, 75, 242)
    }


    h4,
    h6 {
        /*font-family: Segoe UI;*/
        font-size: 30px;
        font-weight: 500;
        -webkit-transition: color .5s;
        transition: color .5s;
        color: #96f291;
        -webkit-text-stroke: 0.8px rgb(26, 125, 79);
        text-shadow: 2px 2px 2px rgb(54, 46, 164)
    }

    #peliculas {
        width: 500px;
        height: 300px;
        margin: 4%;

    }






    /*p{
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;
}*/
</style>