<body id="fondo">
    <h1>
        <center>Mira la imagen y Responde: Sabes Que Película Es?</center>
    </h1>

    <center><img src="/images/image/elSectretoDeSusOjos.jpg" id="peliculas">


    </center>
    <div class="container" id="fondo">
        <div class="row">
            <div>

                <div class="card" style="width: 21rem;">
                    <div class="card-header">
                        <h4 id="title">¿Qué Película Es?</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <ul>
                                    <li>El Clan</li>
                                    <li>Carancho</li>
                                    <li>Relatos Salvajes</li>
                                    <li>El Secreto de sus Ojos</li>
                                    <li>Mi obra maestra</li>
                                    <li>Nueve Reinas</li>


                                </ul>
                                <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                            </div>
                            <a class="btn btn-info" href="/details?id=8">Responder</a>
                        </div>
                        <h3>Código de Pregunta: 84630</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <hr>
    <!--Matrix-->
    <h1>
        <center>Escucha y Responde: Sabes Qué Película Es?</center>
    </h1>

    <center><audio src="/images/image/matrix.mp3" controls="">


        </audio></center>
    <div class="container" id="fondo">
        <div class="row">
            <div>

                <div class="card" style="width: 21rem;">
                    <div class="card-header">
                        <h4 id="title">¿Qué Película Es?</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <ul>
                                    <li>Depredador</li>
                                    <li>Alien</li>
                                    <li>Robocop</li>
                                    <li>Star Wars</li>
                                    <li>Matrix</li>
                                    <li>El Planeta de Los Simios</li>
                                    <li>X-Men</li>
                                    <li>Tron</li>
                                    <li>Terminator</li>

                                </ul>
                                <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                            </div>
                            <a class="btn btn-info" href="/details?id=7">Responder</a>
                        </div>
                        <h3>Código de Pregunta: 72628</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <hr>
    <!--elNacimientoDeVenus-->
<h1>
        <center>Mira la imagen Responde:Qué Famosa Obra de Arte es?</center>
    </h1>

    <center><img src="/images/image/elNacimientoDeVenus.jpg" id="peliculas">


    </center>
    <div class="container" id="fondo">
        <div class="row">
            <div>

                <div class="card" style="width: 21rem;">
                    <div class="card-header">
                        <h4 id="title">Como Se Llama la Obra?</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <ul>
                                    <li>Las Meninas</li>
                                    <li>El caminante sobre el mar de nubes</li>
                                    <li> La creación de Adán </li>
                                    <li>La joven de la perla</li>
                                    <li>El Nacimiento De Venus</li>
                                    <li>El Angelus</li>


                                </ul>
                                <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                            </div>
                            <a class="btn btn-info" href="/details?id=9">Responder</a>
                        </div>
                        <h3>Código de Pregunta: 94630</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
<style>
    /*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');*/

    #fondo {
        background-image: url("https://cdn.pixabay.com/photo/2015/08/26/07/03/background-908172_960_720.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

    }
    h1 {
        /*font-family: Segoe UI;*/
        color: rgb(109, 242, 226);
        -webkit-text-stroke: 0.5px rgb(26, 125, 79);
        text-shadow: 2px 2px 1px rgb(86, 75, 242)
    }

    
    h4 {
        /*font-family: Segoe UI;*/
        font-size: 35px;
        font-weight: 500;
        -webkit-transition: color .5s;
        transition: color .5s;
        color: #96f291;
        -webkit-text-stroke: 0.8px rgb(26, 125, 79);
        text-shadow: 2px 2px 2px rgb(54, 46, 164)
    }
    h3{
        /*font-family: Segoe UI;*/
        
        -webkit-transition: color .5s;
        transition: color .5s;
        color: #96f291;
        -webkit-text-stroke: 0.8px rgb(26, 125, 79);
        text-shadow: 2px 2px 2px rgb(54, 46, 164)
    }
    #peliculas {
        width: 500px;
        height: 300px;
        margin: 4%;

    }


    

    #peliculas {
        width: 500px;
        height: 300px;
        margin: 4%;

    }


    /*p{
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;
}*/
</style>