<body id="fondo">
</body>
<style>
	/*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap'); */
    #fondo{
        background-image: url("https://cdn.pixabay.com/photo/2015/08/26/07/03/background-908172_960_720.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

    }
    h1 {
    	font-family: Segoe UI;
    	color: rgb(109, 242, 226);
   		-webkit-text-stroke: 0.5px rgb(26, 125, 79);
   		text-shadow: 2px 2px 1px rgb(86, 75, 242)
}
ul,p{
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;

	
	-webkit-text-stroke: 0.5px rgb(0, 0, 0);
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 2px rgb(192, 192, 192);
	
}
h4{
	font-family: Segoe UI;
	font-size: 35px;
	font-weight:500;
	-webkit-transition:color .5s;
	transition:color .5s;color:#96f291;
	-webkit-text-stroke: 0.8px rgb(26, 125, 79);
	text-shadow: 2px 2px 2px rgb(54, 46, 164)
}
/*p{
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;
}*/
</style>
<div>
	<h1><center>Como Utilizar Mini Encuestas</center></h1>
	
		<h1>Guía paso a paso de esta aplicación web</h1>



<h4>Para Poder Realizar una Encuesta debes Registrarte en nuestra aplicación</h4>
<center><img src="images/image/registro.png"></center>
<ul>
<li>En La barra de navegación Principal haz click en la opción de Registrarme o en el Botón de Crear una Encuesta.</li><br>
<li>Ingresa las Datos Requeridos</li><br>
<li>Nombre, Apellido, Usuario, Email, y por ultimo una contraseña</li><br>
<li>Haz click en Registrarme y Listo!</li>
 </ul>

 <h4>Inicio de Sesión</h4>
<center><img src="images/image/InicioSesion.png"></center>
<ul>
<li>Una Vez que estás Registrado en la aplicación, podrás Iniciar Sesion</li><br>
<li>Completa los campos con los datos de tu cuenta</li><br>
<li>Email y Password</li><br>
<li>Haz click en Inicio de Sesión</li>
 </ul>

  <h4>Crear Una Encuesta</h4>
<center><img src="images/image/CrearEncuesta.png"></center>
<ul>
<li>Después de Iniciar Sesión en la barra de Navegación Principal ingresa a la opción Crear Encuesta</li><br>
<li>Donde dice 'Titulo de Encuesta' debes ingresar La pregunta, Item a votar, o lo que desees consultar </li><br>
<li>En el espacio de Respuestas debes ingresar UNA POR UNA, cada posible respuesta u Opción a Votar</li><br>
<li>Al lado del campo de cada respuesta ingresada, aparecerá un Icono para poder Eliminar la respuesta en el caso que lo desees </li><br>
<li>En el Caso de que Creas necesario que los Votantes puedan Elegir más de una o Varias respuestas, debes Tildar el campo 'Permitir Más de una Respuesta' </li>
<li>Haz click en el Boton de Crear</li>

 </ul>
  <h4>Buscar una Encuesta</h4>
<center><img src="images/image/CodigoEncuesta.png"></center>
<ul>
<li>Una vez creada la Encuesta podrás Buscar la Encuesta con el Codigo que se generara o ingresando el nombre de la encuesta</li><br>
<li>Debes Guardar el código que se ha generado e ingresarlo al buscador principal </li><br>
<li>También podrás buscar la encuesta ingresando el Nombre de la Encuesta Que buscas</li><br>
<li>Una vez ingresada la encuesta podrás Acceder a ella</li><br>


 </ul>
 <h4>Ingresar a las Encuestas Creadas</h4>
<center><img src="images/image/IngresarEncuesta.png"></center>
<ul>
<li>Una vez creadas las Encuestas podrás tener acceso a ellas en la Barra de Navegación en la opción 'Mis Encuestas'</li><br>
<li>Podrás ver una por una todas Las Encuestas que creaste</li><br>
<li>Con el Botón 'Detalles' tendrás acceso a los Votos registrado, como también a los gráficos Estadísticos que elígas para seguir los resultados de las Votaciones</li><br>
<li>También Podrás Eliminar la votación con el botón 'Eliminar'</li><br>


 </ul>

 <h4>Ver Encuestas en las que registre un voto</h4>

<ul>
<li>En la Barra de Navegación en la opción 'Mis Votos' podrás tener acceso a las encuestas en donde haz hecho un voto</li><br>
<li>Podrás ver en detalle cada voto y cada encuesta donde participaste</li><br>
<li>Te aparecerá el nombre de la encuesta y el voto que registraste</li><br>


 </ul>


 


</div>