<body id="fondo">
	
    
</body>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap'); 
    #fondo{
        background-image: url("https://cdn.pixabay.com/photo/2015/08/26/07/03/background-908172_960_720.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

    }
    h1 {
    	font-family: Segoe UI;
    	color: rgb(109, 242, 226);
   		-webkit-text-stroke: 0.5px rgb(26, 125, 79);
   		text-shadow: 2px 2px 1px rgb(86, 75, 242)
}
.estilo{
	
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;

	
	-webkit-text-stroke: 0.5px rgb(0, 0, 0);
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 2px rgb(192, 192, 192);
	

}
p{
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;

	
	-webkit-text-stroke: 0.5px rgb(0, 0, 0);
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 2px rgb(192, 192, 192);
	
}
h4{
	font-family: Segoe UI;
	font-size: 35px;
	font-weight:500;
	-webkit-transition:color .5s;
	transition:color .5s;color:#96f291;
	-webkit-text-stroke: 0.8px rgb(26, 125, 79);
	text-shadow: 2px 2px 2px rgb(54, 46, 164)
}
/*p{
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;
}*/
</style>
<div>
	<h1><center>Que es una Encuesta y Para qué Sirve?</center></h1>
	
		<h4>Comencemos por definir qué es una encuesta online</h4>

<p><strong>Según la Real Academia Española, una encuesta es “un conjunto de preguntas tipificadas dirigidas a una muestra representativa de grupos sociales, para averiguar estados de opinión o conocer otras cuestiones que les afectan”.
<br><br>
Entonces, podemos decir que una encuesta es una herramienta que nos ayuda a conocer ciertas informaciones de un determinado grupo de personas (el tamaño del grupo debe ser representativo del sector elegido). Estas informaciones las obtendremos a través de preguntas que se formularán de acuerdo a los objetivos que se desean alcanzar. <br>
<br>
Las encuestas nos sirven para poder pedir información concreta y conocer mejor a nuestro público objetivo; con esta información seremos capaces de poder responder mejor a sus necesidades y expectativas.</strong></p>

 <hr>

<h4>Las encuestas se pueden aplicar a cualquier tipo de sector, por ejemplo:</h4>
<ul class="estilo">
<li>Encuestas de estudio de mercado, este tipo de encuestas ayudan a comprender qué es lo que buscan los consumidores y los aspectos relacionados al sector que queremos desarrollar.</li><br>
<li>Encuesta de satisfacción, que servirá para conocer el nivel de satisfacción y expectativa de nuestros clientes, esta información podrá ayudarnos a fidelizarlos.</li><br>
<li>Encuestas de satisfacción laboral, que ayudará a conocer si nuestros empleados se encuentran satisfechos y contentos en su lugar de trabajo o en nuestra empresa.</li><br>
<li>Evaluación de curso, te ayuda a descubrir la opinión de los participantes, la metodología y la utilidad de este.</li>
 </ul>



 

<h4>Existen dos maneras de crear encuestas:</h4>

 
<ul class="estilo">
<li>De manera física, este tipo de encuestas son más costosas ya que necesitarás asumir los costes de papel, impresión, correo y sin olvidar que quizás debas desplegar agentes de campo que hagan llenar tus encuestas, el análisis de toda la información recolectada, deberá hacerse de manera manual lo cual puede tomar más tiempo.</li><br>
 

<li>Encuestas online: Gracias a nuestra pagina  Mini Encuestas puedes crear encuestas en línea de manera fácil y rápida. Contamos con una interfaz muy sencilla. Las encuestas se pueden distribuir de manera fácil gracias a un código anónimo que se genera al crear la pregunta o introduciendo en el buscador de la página principal la pregunta que deseas responder, además puedes ver en tiempo real las respuestas de tus encuestados. Nuestra aplicación genera de manera automática resultados, pero también te permite ver detalles de lo que creas.</li>
</ul>	
</div>