<style> 
    body{
        background-image: url("https://cdn.pixabay.com/photo/2015/08/26/07/03/background-908172_960_720.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
    }
    # fondo{
        background-image: url("https://cdn.pixabay.com/photo/2016/10/21/20/45/texture-1759179_960_720.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

    }
    h3 {
        /*font-family: Segoe UI;*/
        color: rgb(109, 242, 226);
        -webkit-text-stroke: 0.5px rgb(26, 125, 79);
        text-shadow: 2px 2px 1px rgb(86, 75, 242);
        margin: 4%;
    }
</style>


<body>
   <h3>Desliza el menu horizontal y podras encotrar diferentes temas para que puedas empezar</h3>
</body>

{{> sliderSugerencia}}
<div class="container p-4" id="fondo">
    <form action="/" method="get">
        
    </form>
    </br>
    
</div>
