<style> 
    #fondo{
        background-image: url("https://cdn.pixabay.com/photo/2015/08/26/07/03/background-908172_960_720.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

    }
</style>

<body id="fondo">
    <center>    <h2>Encuesta creada</h2></center>
    <center>    <h3>Aguarde el Codigo de encuesta</h3>  </center>
    <center>    <h4>Esto puede tardar unos segundos    </h4></center>
    <h3>kode{{a}}</h3>
    <script>
        console.log(kode);
    </script>
    {{#if kode }}

    <center><h4> {{kode}}  </h4> </center>
    {{/if}}
   
        
	
    
</body>




</html>
