



<body>
</body>
<div>
    <h2>Encuesta creada</h2>
    <h2>Titulo: {{Codigo}}</h2>
    <h3>Codigo de encuesta  </h3><div id="resultado"></div>
    
    

    <script>
      
    
    </script>
   <script src="/src/public/js/codificar.js">
    const coco = codificar()
    console.log(coco)
   
   </script> 
</div>
    
