<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <h2>Encuesta creada</h2>
    <h3>Codigo de encuesta{kodi} </h3>
    <script>
         const kodi = async function codificar() {

        const date = new Date();
        const idPoll = await pool.query("SELECT id from polls order by id desc limit 1");
        console.log("iP:", idPoll[0].id);
        console.log("Codigo: " + idPoll[0].id + date.getDay() + (date.getMonth() + 1) + date.getDate());

        var codigo = 'CODIGO'+idPoll[0].id + date.getDay() + (date.getMonth() + 1) + date.getDate();
        /*let alert=require("alert");
        alert("Codigo de Encuesta: "+ idPoll[0].id + date.getDay() + (date.getMonth()+1) + date.getDate());*/
        console.log("Codigo: ");
        return codigo;

    }
    </script>
</body>

</html>
